@inherits LayoutComponentBase

<div class="header">
    <a class="navbar-brand" href="">BlazorServer2</a>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>

</div>
<div class="page">
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
        <NavMenu />
    </div>
</div>




