<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WebApplication1</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <form @onsubmit=MenuIDEnter>
                <input id="NavMenuIdInput" @bind="_MenuID" class="form-control" style="max-width: 50px; text-align: left" />
            </form>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
    </ul>
</div>

@code {
    [Inject] protected NavigationManager _NavigationManager { get; set; }

    private string _MenuID { get; set; }

    /// <summary>
    /// メニューID Enter
    /// </summary>
    private void MenuIDEnter()
    {
        switch (_MenuID)
        {
            case "1":
                _NavigationManager.NavigateTo("/");
                return;
            case "2":
                _NavigationManager.NavigateTo("/counter");
                return;
            case "3":
                _NavigationManager.NavigateTo("/fetchdata");
                return;
        }
    }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
