@page "/Counter"
@inject ILogger<Counter> _Logger

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;

        _Logger.LogDebug($"Debug level log write.{currentCount}");

        _Logger.LogInformation($"Information level log write.{currentCount}");

        _Logger.LogWarning($"Warning level log write.{currentCount}");

        _Logger.LogError($"Error level log write.{currentCount}");
    }
}
