<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="/var/aspnet/nlog-internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<variable name="myvar" value="myvalue"/>

	<targets>
		<target xsi:type="File" name="logfile" fileName="${basedir}/../log/${shortdate}_LogTest.log"
				layout="${longdate} ${uppercase:${level}} [${threadid}] ${message}"
				encoding="UTF-8" writeBom="true" lineEnding="CRLF" maxArchiveDays="30" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" enabled="true" />
	</rules>
</nlog>
