@inherits LayoutComponentBase

<div class="header-wrapper">
    <div class="header-box-wrapper">
        <div class="headerParent">
            <div class="headerItem">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b><font size="5">システム名</font></b>
            </div>
        </div>
    </div>
</div>

<NavMenu />

<div class="content-wrapper">
    <div class="main-content">
        @Body
    </div>
</div>

